{$PUBLIC_N8N_DOMAIN} {
  tls {$ACME_EMAIL}

  reverse_proxy 127.0.0.1:5678 {
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
  }
}

{$PUBLIC_HA_DOMAIN} {
  tls {$ACME_EMAIL}

  reverse_proxy 127.0.0.1:8123 {
    header_up -X-Forwarded-For
    header_up -X-Forwarded-Host
    header_up -X-Forwarded-Proto
  }
}
